.wyslownik {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;

  letter-spacing: 1px;
  text-transform: uppercase;
}

.words {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.input {
  position: relative;
}

.input::after {
  content: "";
  height: 85%;
  width: 1px;

  position: absolute;
  bottom: 0;
  /* margin-left: 3px; */

  background-color: #fff;

  animation: pulse 1750ms linear infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
